<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <p>
        <a href="{{ url_for('views.upload') }}">Upload a new image</a>
<!--        <a href="upload.html">Upload a new image</a>-->
    </p>
    <p>
        <a href="{{ url_for('views.capture') }}">Capture an image</a>
<!--        <a href="capture.html">Capture an image</a>-->
    </p>
</body>
</html>